name: Publish GraalVM Image to DockerHub

env:
  JAVA_VERSION: '21'

on: workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.m2/repository
          key: ${{ runner.os }}-gradle-test-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle-test-
      - name: Set up JDK ${{env.JAVA_VERSION}}
        uses: actions/setup-java@v5
        with:
          java-version: ${{env.JAVA_VERSION}}
          distribution: 'zulu'
      - name: Build Docker Image
        run: ./gradlew jib